#Client
#ignore everything under the 'bin' folder
bin/
build/
#ignore everything under any CVS folders
CVS/
#ignore the eclipse configuration files
.classpath
#WebServices
#ignore everything under the 'bin' folder
../WebServices/bin/
../WebServices/build/
#ignore everything under any CVS folders
../WebServices/CVS/
#ignore the eclipse configuration files
../WebServices/.classpath