/* Agar tidak mengubah non-content, selalu tambahkan "#content" sebelum elemen yang diacu. */
#register_form {
	width:95%;
	margin:auto;
	padding-top:15px;
	padding-bottom:15px;
	display:block;
}

#button_right {
	margin-left:20px;
}

#register_form label{
	display : inline-block;
	margin:auto;
	width: 20%;
	font-family: Tahoma;
	color: #3B5999;
	line-height: 40px;
	letter-spacing:1px;
}

#register_form input{
	width: 20%;
}