.gambar{
	float: left;
}

.pull_left{
	float: left;
}


.list_left{
}

.list_barang{
	float: left;
	height: 150px;
	width: 430px;
	border-style:solid;
	border-width:2px;
	margin: 8px;
}

.list_desc{
	position: relative;
	left: 10px;
	top: 10px;
}

.search_image{
	position: relative;
	left: 5px;
	top: -1px;
}


.sbox{
	
}

.sb_value{
	float: left;
	position: relative;
	top: 2px;
}

.sb_value2{
	float: left;
	position: relative;
	top: 3px;
}