/* 
	Sistem grid ini adalah hasil modifikasi dari: 
	http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/&
	build-a-freshly-squeezed-responsive-grid-system/

	Riandy R.N/13511014
	
*/

*, *:after, *:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Attribute selector */
[class*='kolom-'] {
  float: left;
  padding: 10px;
}

/* Floats last ".kolom-" to the right */
/*[class*='kolom-']:last-of-type {
  padding-right: 10px;
  float: right;
}*/

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both;
}

/* Main Widths */
.kolom-1 { width: 6.5%; } 
.kolom-2 { width: 15%; } 
.kolom-3 { width: 23.5%; } 
.kolom-4 { width: 32%; } 
.kolom-5 { width: 40.5%; }
.kolom-6 { width: 49%; } 
.kolom-7 { width: 57.5%; } 
.kolom-8 { width: 66%; } 
.kolom-9 { width: 74.5%; } 
.kolom-10 { width: 83%; } 
.kolom-11 { width: 91.5%; } 
.kolom-12 { width: 100%; } 