<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WBD</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>showList</display-name>
    <servlet-name>showList</servlet-name>
    <servlet-class>showList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showList</servlet-name>
    <url-pattern>/showList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BarangPopuler</display-name>
    <servlet-name>BarangPopuler</servlet-name>
    <servlet-class>BarangPopuler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarangPopuler</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailBarang</display-name>
    <servlet-name>DetailBarang</servlet-name>
    <servlet-class>DetailBarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailBarang</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InventoriAdmin</display-name>
    <servlet-name>InventoriAdmin</servlet-name>
    <servlet-class>InventoriAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoriAdmin</servlet-name>
    <url-pattern>/inventori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validateBarang</display-name>
    <servlet-name>validateBarang</servlet-name>
    <servlet-class>validateBarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateBarang</servlet-name>
    <url-pattern>/validateBarang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCart</display-name>
    <servlet-name>ViewCart</servlet-name>
    <servlet-class>ViewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/viewCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBarang</display-name>
    <servlet-name>updateBarang</servlet-name>
    <servlet-class>updateBarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBarang</servlet-name>
    <url-pattern>/updateBarang</url-pattern>
  </servlet-mapping>
</web-app>