<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.frexesc.controller.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.frexesc.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.frexesc.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.frexesc.controller.User</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Card</servlet-name>
		<servlet-class>com.frexesc.controller.Card</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Validate</servlet-name>
		<servlet-class>com.frexesc.controller.Validate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gallery</servlet-name>
		<servlet-class>com.frexesc.controller.Gallery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Detail</servlet-name>
		<servlet-class>com.frexesc.controller.Detail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCart</servlet-name>
		<servlet-class>com.frexesc.controller.AddCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cart</servlet-name>
		<servlet-class>com.frexesc.controller.Cart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Payment</servlet-name>
		<servlet-class>com.frexesc.controller.Payment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.frexesc.controller.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteBarang</servlet-name>
		<servlet-class>com.frexesc.controller.DeleteBarang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCart</servlet-name>
		<servlet-class>com.frexesc.controller.UpdateCart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminBarang</servlet-name>
		<servlet-class>com.frexesc.controller.AdminBarang</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.frexesc.controller.Register</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>UploadImage</servlet-name>
	    <servlet-class>com.frexesc.controller.UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Card</servlet-name>
		<url-pattern>/card</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Validate</servlet-name>
		<url-pattern>/validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gallery</servlet-name>
		<url-pattern>/barang/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gallery</servlet-name>
		<url-pattern>/barang/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Detail</servlet-name>
		<url-pattern>/barang/detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCart</servlet-name>
		<url-pattern>/barang/addCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/barang/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Payment</servlet-name>
		<url-pattern>/barang/payment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/barang/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBarang</servlet-name>
		<url-pattern>/barang/deleteBarang</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCart</servlet-name>
		<url-pattern>/barang/updateCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminBarang</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>UploadImage</servlet-name>
	    <url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>