.imgbarang{
	padding-top : .5em;
	width: 90px; height: 90px;
}

#infobottom{
	width: 100%; text-align: center;
	padding:0.5em 0;
	color: #666;
	font-weight: bold;
	
}

.content #add{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1150px;
	bottom: 310px;
}

.content #bulkdelete{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1175px;
	bottom: 310px;
}

.backgrey{
	background: #ccc;
}

#cattable {
	width: 100%;
	margin:0;
	margin-top: 10px;
}

#cattable .rowbarang{
	width: 335px;
	display: inline-block;
	margin-right: 10px;
}

#cattable .rowbarang .rowtools #edit, #delete{
	width: 15px;
	height: 15px;
}

h3{
	margin:0;
	
}

.title{
	font-weight: bold;
}