<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tubesII.wbd.kay</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
        <param-name>incomingURLs</param-name>
        <param-value>http://www.domainA.com,https://www.domainB.com,http://localhost:8080</param-value>
  </context-param>	
  
  <servlet>
    <servlet-name>verifyRegister</servlet-name>
    <servlet-class>tubesII.wbd.kay.verifyregist.verifyRegister</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>verifyLogin</servlet-name>
    <servlet-class>tubesII.wbd.kay.verifylogin.verifyLogin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyLogin</servlet-name>
    <url-pattern>/verifyLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>verifyRegister</servlet-name>
    <url-pattern>/verifyRegister.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>tubesII.wbd.kay.test</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>Data.user</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Barang</servlet-name>
    <servlet-class>Data.barang</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Barang</servlet-name>
    <url-pattern>/barang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>credit</servlet-name>
    <servlet-class>Data.creditcard</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>credit</servlet-name>
    <url-pattern>/creditcard</url-pattern>
  </servlet-mapping>
</web-app>