<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Chintalian</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>helloJsp.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registrasi</servlet-name>
    <servlet-class>helloJsp.controller.Registrasi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Validasi</servlet-name>
    <servlet-class>helloJsp.controller.Validasi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>helloJsp.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>helloJsp.controller.Category</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBarang</servlet-name>
    <servlet-class>helloJsp.controller.EditBarang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>helloJsp.controller.Cart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Cart2</servlet-name>
    <servlet-class>helloJsp.controller.Cart2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Favorit</servlet-name>
    <servlet-class>helloJsp.controller.Favorit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBarang</servlet-name>
    <servlet-class>helloJsp.controller.UpdateBarang</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>helloJsp.controller.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>helloJsp.controller.Profile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>helloJsp.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>helloJsp.controller.ShoppingCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CardValidation</servlet-name>
    <servlet-class>helloJsp.controller.CardValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registrasi</servlet-name>
    <url-pattern>/registrasi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBarang</servlet-name>
    <url-pattern>/editBarang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cart2</servlet-name>
    <url-pattern>/cart2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Favorit</servlet-name>
    <url-pattern>/favorit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBarang</servlet-name>
    <url-pattern>/updateBarang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CardValidation</servlet-name>
    <url-pattern>/cardvalidation</url-pattern>
  </servlet-mapping>
</web-app>