<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RuSerBa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>images</param-name>
    <param-value>
         E:/wbddata/
     </param-value>
  </context-param>
  <context-param>
    <param-name>folderfoto</param-name>
    <param-value>images</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>tubes2wbd.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editbarangservlet</display-name>
    <servlet-name>editbarangservlet</servlet-name>
    <servlet-class>tubes2wbd.editbarangservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editbarangservlet</servlet-name>
    <url-pattern>/editbarangservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailbarangservlet</display-name>
    <servlet-name>detailbarangservlet</servlet-name>
    <servlet-class>tubes2wbd.detailbarangservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailbarangservlet</servlet-name>
    <url-pattern>/detailbarangservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentication</display-name>
    <servlet-name>authentication</servlet-name>
    <servlet-class>tubes2wbd.authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentication</servlet-name>
    <url-pattern>/authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>headeradmin</display-name>
    <servlet-name>headeradmin</servlet-name>
    <servlet-class>tubes2wbd.headeradmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>headeradmin</servlet-name>
    <url-pattern>/headeradmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>savingImage</display-name>
    <servlet-name>savingImage</servlet-name>
    <servlet-class>tubes2wbd.savingImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savingImage</servlet-name>
    <url-pattern>/savingImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profile</display-name>
    <servlet-name>profile</servlet-name>
    <servlet-class>tubes2wbd.profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sidebar</display-name>
    <servlet-name>sidebar</servlet-name>
    <servlet-class>tubes2wbd.sidebar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sidebar</servlet-name>
    <url-pattern>/sidebar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cekkartukredit</display-name>
    <servlet-name>cekkartukredit</servlet-name>
    <servlet-class>tubes2wbd.cekkartukredit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cekkartukredit</servlet-name>
    <url-pattern>/cekkartukredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxprofile</display-name>
    <servlet-name>ajaxprofile</servlet-name>
    <servlet-class>tubes2wbd.ajaxprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxprofile</servlet-name>
    <url-pattern>/ajaxprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxbarang</display-name>
    <servlet-name>ajaxbarang</servlet-name>
    <servlet-class>tubes2wbd.ajaxbarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxbarang</servlet-name>
    <url-pattern>/ajaxbarang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editbarang</display-name>
    <servlet-name>editbarang</servlet-name>
    <servlet-class>tubes2wbd.editbarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editbarang</servlet-name>
    <url-pattern>/editbarang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>tubes2wbd.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexservlet</display-name>
    <servlet-name>indexservlet</servlet-name>
    <servlet-class>tubes2wbd.indexservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexservlet</servlet-name>
    <url-pattern>/indexservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>header</display-name>
    <servlet-name>header</servlet-name>
    <servlet-class>tubes2wbd.header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexslideservlet</display-name>
    <servlet-name>indexslideservlet</servlet-name>
    <servlet-class>tubes2wbd.indexslideservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexslideservlet</servlet-name>
    <url-pattern>/indexslideservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxbeli</display-name>
    <servlet-name>ajaxbeli</servlet-name>
    <servlet-class>tubes2wbd.ajaxbeli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxbeli</servlet-name>
    <url-pattern>/ajaxbeli</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fillsidebar</display-name>
    <servlet-name>fillsidebar</servlet-name>
    <servlet-class>tubes2wbd.fillsidebar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fillsidebar</servlet-name>
    <url-pattern>/fillsidebar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editprofilesave</display-name>
    <servlet-name>editprofilesave</servlet-name>
    <servlet-class>tubes2wbd.editprofilesave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editprofilesave</servlet-name>
    <url-pattern>/editprofilesave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validasi</display-name>
    <servlet-name>validasi</servlet-name>
    <servlet-class>tubes2wbd.validasi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validasi</servlet-name>
    <url-pattern>/validasi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>tubes2wbd.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registercard</display-name>
    <servlet-name>registercard</servlet-name>
    <servlet-class>tubes2wbd.registercard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registercard</servlet-name>
    <url-pattern>/registercard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyprocess</display-name>
    <servlet-name>buyprocess</servlet-name>
    <servlet-class>tubes2wbd.buyprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyprocess</servlet-name>
    <url-pattern>/buyprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testupload</display-name>
    <servlet-name>testupload</servlet-name>
    <servlet-class>tubes2wbd.testupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testupload</servlet-name>
    <url-pattern>/testupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadfoto</display-name>
    <servlet-name>uploadfoto</servlet-name>
    <servlet-class>tubes2wbd.uploadfoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadfoto</servlet-name>
    <url-pattern>/uploadfoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>tubes2wbd.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxadminbarang</display-name>
    <servlet-name>ajaxadminbarang</servlet-name>
    <servlet-class>tubes2wbd.ajaxadminbarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxadminbarang</servlet-name>
    <url-pattern>/ajaxadminbarang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tambahbarang</display-name>
    <servlet-name>tambahbarang</servlet-name>
    <servlet-class>tubes2wbd.tambahbarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tambahbarang</servlet-name>
    <url-pattern>/tambahbarang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnector</display-name>
    <servlet-name>DbConnector</servlet-name>
    <servlet-class>tubes2wbd.DbConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnector</servlet-name>
    <url-pattern>/DbConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>soap</display-name>
    <servlet-name>soap</servlet-name>
    <servlet-class>tubes2wbd.soap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>soap</servlet-name>
    <url-pattern>/soap</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>