<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>checkUsername</servlet-name>
    <servlet-class>apiController.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUsername</servlet-name>
    <url-pattern>/thelastruserba/api/checkUsername</url-pattern>
    <url-pattern>/api/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>apiController.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/thelastruserba/logout</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>apiController.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/thelastruserba/login</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCreditCard</servlet-name>
    <servlet-class>apiController.CheckCreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCreditCard</servlet-name>
    <url-pattern>/thelastruserba/api/checkCredit</url-pattern>
    <url-pattern>/api/checkCredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkEmail</servlet-name>
    <servlet-class>apiController.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkEmail</servlet-name>
    <url-pattern>/thelastruserba/api/checkEmail</url-pattern>
    <url-pattern>/api/checkEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>barangBeli</servlet-name>
    <servlet-class>barangController.BarangBeli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barangBeli</servlet-name>
    <url-pattern>/thelastruserba/barang/beli</url-pattern>
    <url-pattern>/barang/beli</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>barangIndex</servlet-name>
    <servlet-class>barangController.IndexBarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barangIndex</servlet-name>
    <url-pattern>/thelastruserba/barang</url-pattern>
    <url-pattern>/barang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>barangSuggestions</servlet-name>
    <servlet-class>barangController.Suggestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barangSuggestions</servlet-name>
    <url-pattern>/thelastruserba/barang/suggestions</url-pattern>
    <url-pattern>/barang/suggestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>barangDetail</servlet-name>
    <servlet-class>barangController.DetailBarang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barangDetail</servlet-name>
    <url-pattern>/thelastruserba/barang/detail</url-pattern>
    <url-pattern>/barang/detail</url-pattern>
  </servlet-mapping>
</web-app>